@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Gentium Plus", serif;
  background: rgb(61, 85, 96);
  background: radial-gradient(
    circle,
    rgba(61, 85, 96, 1) 6%,
    rgba(48, 63, 73, 1) 48%,
    rgba(34, 40, 49, 1) 100%
  );
}

.debug-red {
  border: 2px solid #ff0000;
}

.debug-green {
  border: 2px solid #00ff00;
}
.debug-blue {
  border: 2px solid #0000ff;
}

.debug-p {
  border: 2px solid #ffff00;
}
